.heroCard {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.heroCard , form.createCharacter {
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 2px grey;
}
.attackDefense {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 1em auto;
}

.attackDefense > div {
    margin: 0 20px;
}

progress {

    margin: .5em 0;
}

.blocStat {
    margin-bottom: 1em;
}

/*** FORMULAIRE ***/

form.createCharacter {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    background-color: gainsboro;
}

form.createCharacter > div > label {
    display: block;
    margin: .5em auto;
}

input {
    text-align: center;
}

.createCharacter > div {
    width: 50%;
    margin: .5em auto;
    text-align: center;
}

.createCharacter button {
    margin: 1em auto;
    width: 20%;
    padding: .3em;
    font-size: 2em;
    color: red;
}